.places {
  padding: 6vh 6vw 6vh 6vw;
  box-sizing: border-box;
}


@media all and (max-width: 760px) {
  .places {
    padding: 6vh 2vw;
  }
}

@media all and (max-width: 720px) {
  .places {
    padding: 6vh 0vw;
    width: 100%;
  }
}
