.place__text-container {
  margin: 13vh 0 0 0;

}

@media (min-width: 866px) and (max-width: 1024px) {
  .place__text-container {
    margin: 11vh 0 0 0;
    padding-left: 1vw;
  }
}

@media (min-width: 800px) and (max-width: 865px) {
  .place__text-container {
    margin: 5vh 0 0 0;
    padding-left: 1vw;
  }
}

@media (min-width: 727px) and (max-width: 800px) {
  .place__text-container {
    margin: 7vh 0 0 0;
    padding-left: 1vw;
  }
}

@media (min-width: 673px) and (max-width: 727px) {
  .place__text-container {
    margin: 7vh 0 0 0;
    padding-left: 1vw;
  }
}

@media all and (max-width: 768px) {
  .place__text-container {
    width: 90%;
  }
}

@media all and (max-width: 673px) {
  .place__text-container {
    margin: 0; 
    padding-left: 4vw;
  }
}



