.place__text-container {
  margin: 13vh 0 0 0;

}

@media all and (max-width: 1024px) {
  .place__text-container {
    margin: 4vh 0 0 0;
    padding-left: 1vw;
  }
}


@media all and (max-width: 768px) {
  .place__text-container {
    width: 90%;
  }
}

@media all and (max-width: 673px) {
  .place__text-container {
    margin: 0; 
    padding-left: 4vw;
  }
}



