.place__text-container {
  padding: 10% 0 0 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

 @media (min-width: 866px) and (max-width: 1050px) {
  .place__text-container {
    padding: 15% 0 0 0;
  }
}

@media all and (max-width: 865px) {
  .place__text-container {
    padding: 17% 0 10% 3%;
  }
}

@media all and (max-width: 768px) {
  .place__text-container {
    width: 90%;
  }
}

@media all and (max-width: 668px) {
  .place__text-container {
    width: 90%;
    padding-top: 0;
    padding-right: 4%;
  }
}

