.footer__copyright {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}


@media all and (max-width: 720px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1;
    text-align: left;
    margin: 2vh 0;
    margin-left: 2vw;
  }
}