.cover {
  padding-top: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}


@media all and (max-width: 800px) {
  .cover {
    padding-top: 13vh; 
  }
}

@media (min-width:319px) and (max-width: 670px) {
  .cover {
    padding-top: 130%;
  }
}