.cover {
  padding-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* 
@media all and (max-width: 800px) {
  .cover {
    padding-top: 13vh; 
  }
}

@media (min-width:508px) and (max-width: 670px) {
  .cover {
    padding-top: 80%;
  }
}

@media (min-width:440px) and (max-width: 508px) {
  .cover {
    padding-top: 100%;
  }
}



@media (min-width:300px) and (max-width: 440px) {
  .cover {
    padding-top: 140%;
  }
} */