.cover__title {
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  text-align: center;
  color: white;
  position: relative;
  max-width: 560px;
  width: 80vw;
  z-index: 5;
  margin: 22% 0 0 0; 
}

@media all and (max-width: 1280px) {
  .cover__title {
    width: 90vw;
  }
}

@media all and (max-width: 1190px) {
  .cover__title {
    margin: 21% 0 0 0; 
  }
}

@media all and (max-width: 950px) {
  .cover__title {
    margin: 16% 0 0 0; 
  }
}


@media all and (max-width: 700px) {
  .cover__title {
    font-size: 32px; 
    margin: 30% 0 0 0;  
  }
}

@media all and (max-width: 460px) {
  .cover__title {
    margin: 14vw 0 0 0;  
  }
}