.footer {
  padding: 7vh 3vw 0 3vw;
  display: flex;
  justify-content: space-between;
  margin: 0;
  float: none;
  
  max-width: 1184px;
 
}

@media all and (max-width: 720px) {
  .footer {
    flex-direction: column;
  }
}