.place__url {
  color: #AAA;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  padding: 0;
  margin: 0;  
}


@media all and (max-width: 668px) {
  .place__url {
    opacity: 0;
    font-size: 1px;
  }
}